<div class="my-5 bottom-0">
    <footer class="bg-white text-center text-lg-start text-black">
        <div class="container p-4 pb-0">
            <section>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase">Sobre</h6>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam sequi repudiandae, earum cupiditate explicabo quisquam provident neque facere a labore eos sapiente ad saepe praesentium, consectetur, voluptates aperiam nam illo.
                        </p>
                    </div>
                    

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase ms-2">Empresa</h6>
                        <ul class="list-group list-group-flush">
                            <a class="list-group-item" href="#">Website-DEMO</a>
                            <a class="list-group-item" href="#">Website-Manual</a>
                            <a class="list-group-item" href="#">Website-Suporte</a>
                        </ul>
                    </div>
                    

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase">Contato</h6>
                        <p><a class="list-group-item" href=""><i class="pi pi-envelope me-1"></i>comercial&#64;site.com.br</a></p>
                        <p class="text-black" href="#"><a class="list-group-item" href=""><i class="pi pi-phone me-1"></i>Ligue para nós</a></p>
                        <p class="text-black " href="#"><a class="list-group-item" href=""><i class="pi pi-briefcase me-1"></i>Trabalhe Conosco</a></p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase">Redes Sociais</h6>
                        <a class="btn btn-outline-dark rounded-5 m-1" role="button" href=""><i class="pi pi-facebook"></i></a>
                        <a class="btn btn-outline-dark rounded-5 m-1" role="button" href=""><i class="pi pi-youtube"></i></a>
                        <a class="btn btn-outline-dark rounded-5 m-1" role="button" href=""><i class="pi pi-instagram"></i></a>
                        <a class="btn btn-outline-dark rounded-5 m-1" role="button" href=""><i class="pi pi-linkedin"></i></a>
                    </div>
                </div>
            </section>

            <hr class="">
            
            <section class="p-3 pt-0">
                <div class="row d-flex align-items-center">
                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <div class="p-3">
                            <a class="list-group-item" href="https://github.com/dudukorte">
                            © 2024 Copyright:
                            github/&#64;DUDUKorte</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </footer>
</div>

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="my-5 container-fluid bottom-0">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #45526e"
            >