<nav class="navbar navbar-expand-xxl bg-body-tertiary">
    <div class="container-fluid px-5 py-2 my-container">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo.png" alt="logo" height="30" class="d-inline-block align-text-top">
            Website-DEMO
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Pricing</a>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <form class="d-flex" role="search">
                <button class="btn btn-outline-primary rounded-5 m-2 my-button-login" type="submit">Login</button>
                <button class="btn btn-primary rounded-5 m-2 my-button-register" type="submit">Register</button>
            </form>
        </div>
    </div>
</nav>