.container {
    width: fit-content;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: 400ms;
    opacity: 10%;
  }

.container:hover{
    opacity: 95%;
}
  
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav {
    width: 15rem;
    padding: 20px;
  }
  